services:
  backend:
    build: ./backend
    container_name: backend
    ports:
      - "3333:3333"
    depends_on:
      - db
    environment:
      DB_HOST: db
      DB_USER: postgres
      DB_PASSWORD: postgres
      DB_NAME: obrail_db
    volumes:
      - ./backend:/app

  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "80:80"
    depends_on:
      - backend

  db:
    image: postgres:15
    container_name: db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: obrail_db
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  grafana:
    image: grafana/grafana       # ← Ici, on laisse Docker prendre la dernière version
    container_name: grafana
    ports:
      - "3000:3000"
    volumes:
      - grafana_data:/var/lib/grafana

volumes:
  db_data:
  grafana_data:
